.top_bar {
background-color: rgba(223, 223, 223, 0.27);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0.1px;
}

.top_img{
    padding: 0px 38px 0px 36px;
}

.jo {    
    width:30px;
    height: 30px;
}

.con {
    height: 35px;
    width: 35px;
}

.top_nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.top_nav :first-child {
    margin-right: 10px;
    padding-right: 5px ;
    color: black;
    height: 20px;  
}

.top_nav :nth-child(2){
    margin-right: 10px;
    color: black;
    height: 20px;
    padding-right: 5px; 
}

.top_nav:last-child {
    padding-right: 38px;
    color: black;
}

.kategori{
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;    
}

.menu > a {
    color: black;
    font-size: 20px;
    margin:0px 10px;
}

.main_logo > img {
    margin: 30px;
    width: 95px;
    height: 30px;
}

.search{
    display: flex;    
    margin-right: 30px;
}

.search input{
    margin-right: 30px;
    font-size: 25px;
    background-color: whitesmoke ;
    
}

.search button{
    border: none;
}

.search > a {
    margin: 0px 5px;
    color: black;
}

.search_zone{
    border-radius: 30px;
    background-color: whitesmoke;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .menu {
        display : none;
    }

    
}

